/* Chatbot.css */

.app-container {
  display: flex;
  height: 100vh; /* Full height */
  background-color: #9ebcc4;
}

.sidebar {
  width: 20%; /* Adjust as needed */
  background-color: #f1f1f1; /* Light gray background */
  padding: 20px; /* Padding inside the sidebar */
  box-sizing: border-box; /* Ensures padding does not add to width */
}

.chatbot-container {
  flex-grow: 1; /* Take the remaining width */
  background-color: #9ebcc4; /* Light gray background for the chat area */
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 60%; /* Adjusted for better appearance */
  margin: 20px auto;
  overflow: hidden; /* Ensure nothing overflows from the container */
  display: flex;
  flex-direction: column;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  justify-content: space-between;
  height: 95vh;
  color: #000000; /* Text color */
}





.chatbot-name {
  background-color: #297b9d; /* Medium blue background for the title */
  color: #ffffff; /* White text for better readability */
  text-align: center;
  padding: 15px;
  font-size: 1.2em;
  font-weight: bold;
}

.messages-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 20px;
  overflow-y: auto;
  background-color: #9ebcc4; /* Light gray background for message area */
}

.message {
  max-width: 75%;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 18px;
  word-wrap: break-word;
  box-sizing: border-box;
  font-size: 0.95em;
  line-height: 1.4;
}

.message.user {
  background-color: #297b9d; /* Medium blue for user messages */
  color: white;
  align-self: flex-end; /* Align to the right */
}

.message.bot {
  background-color: #ffffff; /* White background for bot messages */
  color: #343541; /* Dark slate gray text for bot messages */
  align-self: flex-start; /* Align to the left */
}

.chatbot-input-form {
  padding: 5px; /* Reduced padding for minimalistic look */
  background-color: #9ebcc4; /* White background for input area */
  display: flex;
  border-top: 1px solid #d4d4d4;
  align-items: center; /* Align items vertically */
}

.text-input {
  flex-grow: 1;
  flex-shrink: 1; /* Allows input to shrink as needed */
  padding: 10px 15px;
  margin-right: 10px;
  border: 1px solid #d4d4d4;
  border-radius: 20px;
  outline: none;
  background-color: #ffffff; /* White background for text input */
  color: #000000; /* Black text color */
}

.send-button,
.record-button {
  flex-grow: 0; /* Prevents buttons from growing */
  flex-shrink: 0; /* Prevents buttons from shrinking */
  background: #297b9d; /* Medium blue for buttons */
  color: white;
  border: none;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px; /* Fixed width for buttons */
  height: 40px; /* Fixed height for buttons */
}

.send-button:hover,
.record-button:hover {
  background: #1d5b6f; /* Darker shade of blue for button hover effect */
}

/* Responsive design */
@media (max-width: 600px) {
  .chatbot-container {
    margin: 10px;
    border-radius: 0; /* Full width on smaller screens */
  }

  .sidebar {
    width: 100%; /* Full width for small screens */
    display: none; /* Or adjust as needed */
  }

  .chatbot-container {
    width: 100%; /* Full width for small screens */
  }

  .chatbot-input-form {
    flex-direction: column; /* Stack elements vertically */
    padding: 5px; /* Reduced padding */
  }

  .text-input,
  .send-button,
  .record-button {
    width: 100%; /* Full width for smaller screens */
    margin-bottom: 5px; /* Space between elements */
  }
  .send-button,
  .record-button {
    padding: 10px; /* Adjust padding for smaller size */
    font-size: 0.8em; /* Adjust font size for smaller screens */
    margin: 5px; /* Ensure some margin around the button */
  }

  .messages-container {
    padding: 15px; /* Less padding on smaller screens */
  }

  .message {
    max-width: 85%; /* Messages take more space on smaller screens */
  }
}

/* Animation for messages */
@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.message {
  animation: fade-in 0.5s ease-out;
}
