/* Chatbot.css */

.app-container {
  display: flex;
  height: 100vh; /* Full height */
  background-color: #9ebcc4;
}

.sidebar {
  width: 20%; /* Adjust as needed */
  background-color: #f1f1f1; /* Light gray background */
  padding: 20px; /* Padding inside the sidebar */
  box-sizing: border-box; /* Ensures padding does not add to width */
}

.chatbot-container {
  flex-grow: 1; /* Take the remaining width */
  background-color: #9ebcc4; /* Light gray background for the chat area */
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 60%; /* Adjusted for better appearance */
  margin: 20px auto;
  overflow: hidden; /* Ensure nothing overflows from the container */
  display: flex;
  flex-direction: column;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  justify-content: space-between;
  height: 95vh;
  color: #000000; /* Text color */
}

.chatbot-name {
  background-color: #297b9d; /* Medium blue background for the title */
  color: #ffffff; /* White text for better readability */
  text-align: center;
  padding: 15px;
  font-size: 1.2em;
  font-weight: bold;
}

.messages-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 20px;
  overflow-y: auto;
  background-color: #9ebcc4; /* Light gray background for message area */
}

.message {
  max-width: 75%;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 18px;
  word-wrap: break-word;
  box-sizing: border-box;
  font-size: 0.95em;
  line-height: 1.4;
}

.message.user {
  background-color: #297b9d; /* Medium blue for user messages */
  color: white;
  align-self: flex-end; /* Align to the right */
}

.message.bot {
  background-color: #ffffff; /* White background for bot messages */
  color: #343541; /* Dark slate gray text for bot messages */
  align-self: flex-start; /* Align to the left */
}

.chatbot-input-form {
  position: relative; /* Needed for absolute positioning of children */
  padding: 5px;
  background-color: #9ebcc4; /* Matching background color for seamless integration */
  display: flex;
  align-items: center;
  border-top: 1px solid #d4d4d4;
}

.input-wrapper {
  position: relative;
  flex-grow: 1; /* Allows input to grow and fill space */
  display: flex; /* Aligns input and buttons inline */
}

.text-input {
  flex-grow: 1;
  padding: 10px 15px;
  padding-left: 50px;
  padding-right: 60px; /* Make room for buttons */
  border: 1px solid #d4d4d4;
  border-radius: 20px;
  outline: none;
  background-color: #ffffff; /* White background for text input */
  color: #000000; /* Black text color */
  margin-right: 0; /* Reset margin */
}

/* Position buttons absolutely within the input wrapper */
.send-button,
.record-button {
  position: absolute;
  right: 50px; /* Adjust as needed, make sure there is enough room for both buttons */
  top: 50%;
  transform: translateY(-50%);
  margin: 0;
  color: #297b9d;
}

.record-button {
  left: 10px; /* Place the button 10px from the left edge of the input-wrapper */
  right: auto;
  color: #297b9d; /* Icon color when not recording */
}

.record-button.recording {
  background-color: #297b9d; /* Medium blue background when recording */
  color: white; /* White icon color when recording */
}

.send-button:hover,
.record-button:hover {
  background: #1d5b6f; /* Darker shade of blue for button hover effect */
}

.send-button {
  color: #297b9d !important;
  position: absolute;
  right: 10px; /* Adjust this value as needed to move the send button more to the right */
  top: 50%;
  transform: translateY(-50%);
}

/* Custom styles for react-h5-audio-player */
.rhap_container {
  background-color: transparent !important;
  color: white !important;
}

.rhap_progress-filled,
.rhap_progress-indicator {
  background: white !important;
}

.rhap_main-controls .rhap_button-clear {
  color: white !important;
}

/* Style the scrollbar track (background) for WebKit browsers */
::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Light gray track as seen in ChatGPT */
}

/* Style the scrollbar thumb (the part that you drag) for WebKit browsers */
::-webkit-scrollbar-thumb {
  background-color: #c4c4c4; /* Darker gray thumb for contrast */
  border-radius: 10px; /* Rounded corners on the scrollbar thumb */
  border: 3px solid #f1f1f1; /* Creates padding effect on the thumb */
}

/* Style the scrollbar itself (width and color) for WebKit browsers */
::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

/* For Firefox */
html {
  scrollbar-color: #c4c4c4 #f1f1f1; /* thumb and track colors */
  scrollbar-width: thin; /* Similar to setting the width in WebKit browsers */
}

/* Responsive design */
@media (max-width: 600px) {
  .chatbot-container {
    margin: 10px;
    border-radius: 0; /* Full width on smaller screens */
  }

  .sidebar {
    width: 100%; /* Full width for small screens */
    display: none; /* Or adjust as needed */
  }

  .chatbot-container {
    width: 100%; /* Full width for small screens */
  }

  .chatbot-input-form {
    flex-direction: column; /* Stack elements vertically */
    padding: 5px; /* Reduced padding */
  }

  .text-input,
  .send-button,
  .record-button {
    width: 100%; /* Full width for smaller screens */
    margin-bottom: 5px; /* Space between elements */
  }
  .send-button,
  .record-button {
    padding: 10px; /* Adjust padding for smaller size */
    font-size: 0.8em; /* Adjust font size for smaller screens */
    margin: 5px; /* Ensure some margin around the button */
  }

  .messages-container {
    padding: 15px; /* Less padding on smaller screens */
  }

  .message {
    max-width: 85%; /* Messages take more space on smaller screens */
  }
}

/* Animation for messages */
@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.message {
  animation: fade-in 0.5s ease-out;
}
